html,
/* SideBarstyle {
  margin: 0;
  background-color: black;
  text-align: center;
  font-size: 1em;

  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
} */

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: hidden;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: rgb(191, 172, 3);
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  z-index: 99999 !important;
  width: 10px;
  height: 10px;
  /* left: 5px; */
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(191, 172, 3);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 9999;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  /* padding: 2.5em 1.5em 0; */
  font-size: 1.15em;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.03);
  z-index: 9999;
}

.logo {
  height: auto;
  width: 100%;

  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}
